%p{:style => "color: green"}= notice
- content_for :title, "Posts"

%h1.text-3xl.mb-6.font-Anton Posts

= link_to "Register", new_post_path, class: "mt-3 bg-black text-white py-2 px-4 rounded-lg"

= paginate @posts

.mt-3.grid.sm:grid-cols-1.md:grid-cols-2.lg:grid-cols-3.gap-6
  - @posts.each do |post|
    = link_to post do
      .bg-white.rounded-lg.shadow-md.p-6.flex.flex-col.h-full{:id => dom_id(post)}
        .text-gray-700.text-sm.mb-4
          = post.created_at.strftime("%Y/%m/%d(%a)")
        %h2.font-bold.text-lg.mb-2
          = post.title
        .text-gray-700.text-sm.mb-4.line-clamp-3
          = simple_format post.content


