%p{:style => "color: green"}= notice
- content_for :title, "Posts"

%h1.text-3xl.mb-6.font-Anton.border-b-2.border-gray-800.pb-2 Posts

= link_to "Register", new_post_path, class: "mt-3 bg-black text-white py-2 px-4 rounded-lg"

= paginate @posts

- @posts.group_by { |post| post.posted_at.to_date }.each do |date, posts_of_day|
  %div.w-full.mt-8.mb-4
    %h2.text-xl.font-bold.text-gray-900.bg-gray-100.p-3.rounded-lg.shadow-md
      = date.strftime("%Y年%m月%d日 (%a)")

  .grid.sm:grid-cols-1.md:grid-cols-2.lg:grid-cols-3.gap-6
    - posts_of_day.each do |post|
      = link_to post do
        .bg-white.rounded-lg.shadow-lg.border-2.border-gray-100.p-6.flex.flex-col.h-full{:id => dom_id(post)}
          .text-gray-700.text-sm.mb-4
            = post.posted_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
          %h2.font-bold.text-lg.mb-2
            = post.title
          .text-gray-700.text-sm.mb-4.line-clamp-3
            = simple_format post.content
