%h1.text-3xl.mb-6.font-Anton Post

%p{:style => "color: green"}= notice
= render @post, show_link: false

= button_to "delete", @post, method: :delete, class: "mt-5 bg-black text-white py-2 px-4 rounded-lg"
%br

%div
  = link_to "Edit this post", edit_post_path(@post)
  |
  = link_to "Back to posts", posts_path
  
